<!DOCTYPE html>
<html>

<head>
    <title>Decision Tree Visualisation</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        Decision Tree Visualization
    </header>

    <hr>

    <div class="container" id="body-div">

        <!-- INSTRUCTIONS -->

        <div class="container" id="instructions-div">
            <h3>Instructions</h3>
            <p>The application loads the catboost model in json format <b>[model.json]</b> and validation data in tsv
                format
                <b>[validation-set.tsv]</b> from the <b>data</b> folder. After setting the parametres and pressing the
                button in the main
                section or in the baseline section, you can visualize a specific decision tree from the model. The
                visualization will appear in a new tab in the browser.
            </p>

            <div>
                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse-file-format-rqrmnts"
                    role="button" aria-expanded="false" aria-controls="collapse-file-format-rqrmnts">
                    File Format Requirements
                </a>
            </div>

            <div class="collapse" id="collapse-file-format-rqrmnts">
                <div class="card card-body p-3 mb-2 bg-light text-dark">
                    <h5>Model Format</h5>
                    <p>The model should be saved using the catboost method to a json file thath contains:
                    <ul>
                        <li>only float features whose indexes and names are available in the individual values of the
                            <b>feature_id</b> and <b>feature_name</b> keys in the <b>features_info.float_features'</b>
                            array.
                        </li>
                        <li>the structure of individual decision trees captured in the <b>oblivious_trees</b> array. The
                            values of
                            the <b>border</b> and <b>float_feature_index</b> keys in the <b>splits</b> arrays are
                            important.</li>
                    </ul>
                    </p>
                    <h5>Data Format</h5>
                    <p>Validation set should be saved in tsv format, which contains representative amount of data and
                        columns of all features from the
                        model file along
                        with <b>url</b>, <b>query</b> feature and target variable <b>box</b>.</p>
                </div>
            </div>

            <br>
            <% if (loadingError===0) { %>
                <div class="alert alert-primary" role="alert">
                    <b>Info: </b>The model and data were loaded fine. You can run the visualizations now.
                </div>
                <% } else if (loadingError===1) { %>
                    <div class="alert alert-warning" role="alert">
                        <b>Alert: </b> The model is not in the correct format or folder. Please make sure the file
                        named
                        <u>model.json</u> is in the <u>data</u> folder and then refresh the page.
                    </div>
                    <% } else if (loadingError===2) { %>
                        <div class="alert alert-warning" role="alert">
                            <b>Alert: </b> Failed to load feature names from <u>model.json</u> file. Please make
                            sure
                            this file has the correct formatting in it and then refresh the page.
                        </div>
                        <% } else if (loadingError===3) { %>
                            <div class="alert alert-warning" role="alert">
                                <b>Alert: </b> The data are not in the correct format or folder. Please make sure
                                the
                                file named
                                <u>validation-set.tsv</u> is in the <u>data</u> folder and then refresh the page.
                            </div>
                            <% } else if (loadingError===4) { %>
                                <div class="alert alert-warning" role="alert">
                                    <b>Alert: </b> Failed to load feature names from <u>validation-set.tsv</u> file.
                                    Please make
                                    sure
                                    this file has the correct formatting in it and then refresh the page.
                                </div>
                                <% } else if (loadingError===5) { %>
                                    <div class="alert alert-warning" role="alert">
                                        <b>Alert: </b>The feature names from the model do not match the feature
                                        names
                                        from the data. Please make sure that the <u>model.json</u> and
                                        <u>validation-set.tsv</u> in the <u>data</u> folder belong together.
                                    </div>
                                    <% }; %>

        </div>

        <hr>

        <!-- VISUALIZE DECISION TREE -->

        <div class="container" id="main-visualization-div">
            <h2>Main Visualization</h2>
            <div class="container" id="main-visualization-form-div">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Visualization
                        Mode</span>
                    <select class="form-select" id="visu-mode-select" aria-label="Default select example">
                        <option value="general" selected>General Visualisation</option>
                        <option value="one">/w Path of One Instance</option>
                        <option value="multiple">/w Filtered Subset</option>
                    </select>
                    <span class="input-group-text" id="basic-addon1">Index of
                        Tree</span>
                    <input type="number" class="form-control" id="tree-idx-input" value="0" aria-label="Index of Tree">
                    <button type="button" id="display-button" class="btn btn-primary" <% if (loadingError) { %>
                        disabled
                        <% }; %>
                            >Display Visualization
                    </button>
                </div>

                <div class="input-group mb-3" id="instance-idx-div">
                    <span class="input-group-text" id="basic-addon1">Index of Data
                        Instance</span>
                    <input type="number" class="form-control" id="instance-idx-input" value="0"
                        aria-label="Index of Tree">
                </div>

                <div class="input-group mb-3" id="multiple-opts-div">
                    <span class="input-group-text" id="basic-addon1">Feature</span>
                    <select class="form-select" id="feature-select" aria-label="Default select example">
                        <% featuresArray.forEach((feature)=> { %>
                            <option value="<%= feature %>">
                                <%= feature %>
                            </option>
                            <% }); %>
                    </select>
                    <span class="input-group-text" id="basic-addon1">Mark</span>
                    <select class="form-select" id="mark-select" aria-label="Default select example">
                        <option value="="> = </option>
                        <option value="<">
                            < </option>
                        <option value=">"> > </option>
                    </select>
                    <span class="input-group-text" id="basic-addon1">String
                        Operation</span>
                    <select class="form-select" id="string-operation-select" aria-label="Default select example">
                        <option value="equals">equals</option>
                        <option value="consists">consists</option>
                        <option value="regexp">regexp</option>
                    </select>
                    <span class="input-group-text" id="basic-addon1">Constant</span>
                    <input type="number" class="form-control" id="constant-input" placeholder="0"
                        aria-label="Index of Tree">
                    <span class="input-group-text" id="basic-addon1">String
                        Expression</span>
                    <input type="text" class="form-control" id="regexp-input" placeholder="seznam"
                        aria-label="Regexp Input">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Color Box 1</span>
                    <input type="color" class="form-control-color" id="box-1-color" value="#F6E8A6">
                    <span class="input-group-text" id="basic-addon1">Color Box 0</span>
                    <input type="color" class="form-control-color" id="box-0-color" value="#B7BEBE">

                    <button type="button" id="default-color-setter" class="btn btn-secondary">Set Default
                        Colors</button>
                </div>

                <div class="input-group mb-3">
                    <div class="alert alert-warning" role="alert" id="tree-idx-alert">
                        <b>Alert: </b>Tree Index out of Range! Allowed values: 0 - <%= maxTreeIdx %> 
                    </div>
                </div>

                <a href="/diagram.html" target="_blank" id="get-visualization"></a>

            </div>

            <!-- MANUAL -->

            <p>
            <div class="d-grid col-2">
                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse-manual" role="button"
                    aria-expanded="false" aria-controls="collapse-manual">
                    Manual
                </a>
            </div>
            </p>
            <div class="collapse" id="collapse-manual">
                <div class="card card-body p-3 mb-2 bg-light text-dark text-center justify-content-center">

                    <div class="card p-4">
                        <h3>Form</h3>
                        <p><b>Three visualization modes</b> can be selected in the form:<br>

                            1. <b>General visualization</b> provides an insight into the data divided by target variable
                            passing through the model.<br>

                            2. <b>One instance visualization</b> provides additional information about the flow of
                            instance
                            from dataset selected by its index.<br>

                            3. <b>Multiple instances visualization</b> provides additional information about the flows
                            of
                            instances filtered by <i>query</i>.<br>

                            The <i>query</i> can be:<br>

                            a. <b>string-based</b> (query and url features):<br>

                            equals: value of feature exactly matches the given string <br>
                            consists: given string is part of the value of feaure <br>
                            regexp: given regular expression matches/is-part-of the value of feature<br>

                            b. <b>float-based</b> (features used in training):<br>

                            feature value comparisons =, >, < with given number </p>
                    </div>
                    <br>
                    <div class="card p-4">
                        <h3>Visualization</h3>
                        <br>
                        <div class="card p-4">
                            <h3>Legend</h3>
                            <br>
                            <img src="../images/legend.png" class="rounded mx-auto d-block" alt="hoverlabel link">
                            <br>
                            <p>At the top of each visualization is a list of features and thresholds used in the
                                tree.
                                Each
                                combination is related to one level in the tree.</p>

                        </div>
                        <br>
                        <div class="card p-4">
                            <h3>Diagram</h3>
                            <br>
                            <div class="card p-4">

                                <h4>General</h4>
                                <br>
                                <img src="../images/gen_diagram.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p>The width of the branch in the tree corresponds to the number of data samples from
                                    the
                                    validation
                                    dataset that flow through this path. In general mode (and with default colors),
                                    yellow width corresponds to
                                    samples
                                    with
                                    target variable 1, gray to samples with target variable 0.</p>
                            </div>
                            <br>
                            <div class="card p-4">
                                <h4>One Instance</h4>
                                <br>
                                <img src="../images/one_diagram.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p>One-instance mode preserves the widths corresponding to the target variables in the
                                    validation
                                    set.<br> It also darkens the branches through which the selected data instance
                                    passes,
                                    respectively
                                    only the
                                    part that corresponds to the target variable of the given instance.</p>
                            </div>
                            <br>
                            <div class="card p-4">
                                <h4>Multiple Instances</h4>
                                <br>
                                <img src="../images/mult_diagram.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p>A tree branch in multiple mode can have up to four parts. The upper and lower (at the
                                    edges
                                    of
                                    the branch), which preserve the shadows from the general mode, correspond to
                                    instances
                                    that
                                    do
                                    not match the query, again divided according to the target variable (upper - 1,
                                    lower -
                                    0).
                                    Flows in
                                    the middle correspond to the queried instances, analogously divided.</p>
                            </div>
                        </div>
                        <br>
                        <div class="card p-4">
                            <h3>HoverLabel</h3>
                            <br>
                            <div class="card p-4">
                                <h4>General</h4>
                                <br>
                                <img src="../images/hoverlabel_general_node.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p>
                                    Node hoverlabel in general visualization consists of:<br>

                                    # number of instances from validation dataset in the node (in white space)<br>
                                    # this number as a percentage of the dataset size<br>
                                    # number of instances with target variable value of 1 / this number as a percentage
                                    of the number of instances in the node<br>
                                    # number of instances with target variable value of 0 / this number as a percentage
                                    of the number of instances in the node<br>
                                    # name of the split feature in the node<br>
                                    # value of the threshold in the node.


                                </p>
                                <br>
                                <img src="../images/hoverlabel_general_link.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p>
                                    Branch hoverlabel in general visualization consists of:<br>

                                    # number of instances from the validation dataset representing this node (in white
                                    space)<br>
                                    # this number as the percentage of the dataset size<br>
                                    # box_1 or box_0 according to its target variable<br>
                                    # split feature in the split function that makes this branch<br>
                                    # <= or> (according to the output of the split function) with a value of the
                                        threshold in the split function that makes this branch


                                </p>
                            </div>
                            <br>
                            <div class="card p-4">
                                <h4>One Instance</h4>
                                <br>
                                <img src="../images/hoverlabel_one_link.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p>When hover over the part of branch that corresponds with the instance path,
                                    instance's value of that split feature appears after the threshold value.<br>
                                    Other content is the same as in general visualization.
                                </p>
                            </div>
                            <br>
                            <div class="card p-4">
                                <h4>Multiple Instances</h4>
                                <br>
                                <img src="../images/hoverlabel_mult_node.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p></p>
                                <p>
                                    The numbers of queried instances according to the target variables are added.<br>
                                    After them are the percentages of the total number of instances with the given
                                    target variable in this node.<br>
                                    Other content is the same as in general visualization.</p>
                                <br>
                                <img src="../images/hoverlabel_mult_link.png" class="rounded mx-auto d-block"
                                    alt="hoverlabel link">
                                <br>
                                <p>Label <i>queried</i> or <i>non-queried</i> is added according to the part of the branch.<br>
                                    Other content is the same as in general visualization.</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- BASELINE -->

        <div class="container" id="baseline-div">
            <h3>Baseline Visualization</h3>
            <p>Catboost itself offers a visualization of the structure of decision
                trees.</p>

            <div class="container" id="baseline-form-div">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Index of
                        Tree</span>
                    <input type="number" class="form-control" id="baseline-tree-idx-input" value="0"
                        aria-label="Index of Tree">
                    <button type="button" id="baseline-display-button" class="btn btn-primary" <% if (loadingError) { %>
                        disabled
                        <% }; %>
                            >Display Visualization
                    </button>
                </div>

                <br>

                <div class="input-group mb-3">
                    <div class="alert alert-warning" role="alert" id="baseline-tree-idx-alert">
                        <b>Alert: </b>Tree Index out of Range! Allowed values: 0 - <%= maxTreeIdx %> 
                    </div>
                </div>

                <a href="/catboost-native.pdf" target="_blank" id="get-baseline-visualization"></a>

            </div>

        </div>

    </div>

    <script src="../homepage-script.js"></script>

</body>

</html>